<section>
  <header-component [headerText]="headerText"></header-component>
  <div class="p-5">
    <div class="input-group mb-3">
      <label class="input-group-text" for="filetype-select">File Type</label>
      <select class="form-select" id="filetype-select" #filetype (click)="changeAcceptableFileType(filetype.value)">
        <option value=".json" selected>JSON file</option>
        <option value=".xml">XML file</option>
      </select>
    </div>
    <div class="input-group mb-3">
      <input type="file" class="form-control" id="file-upload-input" [accept]="acceptableFileType">
      <label class="input-group-text" for="file-upload-input">Upload</label>
    </div>
    <div class="d-flex justify-content-center">
      <button class="btn btn-primary w-auto ps-5 pe-5" (click)="addUsers($event)">
        Send
      </button>
    </div>
  </div>
</section>
